/* header releted styles */

header{
    border-radius: 16px;
    /* background: linear-gradient(#070211 0%,rgba(2,7,17,0)); */
    background: url('resources/Banner\ Image.png');
    height: 600px;
    width: 1300px;
    margin: 50px auto 0; 
}
header h4{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-family:'Merriweather', serif;
    font-weight: 400;
    padding: 177px 0 0 0 ;
    margin-bottom:0 ;  
}
header h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-family:'Merriweather', serif;
    font-weight: 900;
    margin: 0px auto 177px;
}

/* section releted styles */

/* section-01 */
.section-01-Coitainer{
    display: block;
    margin-top: 120px;
}
.section-01-image{
    display: block;
    width: 802px;
    height: 500px;
    margin: 0 auto; 
}
.section-01-text{
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.section-01-text h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}
.section-01-text h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
    margin-bottom: 0;
}
.section-01-text h2{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}














