*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* header releted styles */

header{
    border-radius: 16px;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url('resources/Banner\ Image.png');
    height: 600px;
    width: 1300px;
    margin: 50px auto 0; 
}
header h4{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-family:'Merriweather', serif;
    font-weight: 400;
    padding: 177px 0 0 0 ;
    margin-bottom:0 ;  
}
header h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-family:'Merriweather', serif;
    font-weight: 900;
    margin: 0px auto 177px;
}

/* section releted styles */

/* section-01 */
.section-01-Coitainer{
    display: block;
    margin-top: 120px;
}
.section-01-image{
    display: block;
    width: 802px;
    height: 500px;
    margin: 0 auto; 
}
.section-01-text{
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.section-01-text h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}
.section-01-text h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
    margin-bottom: 0;
}
.section-01-text h2{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}
/* section-02 */
.section-02-cointainer{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
}
.section-02-cointainer h1{
    color: #FFF;
    font-family:'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    text-align: left;
    margin: 126px 0 0 70px;
} 
.section-02-cointainer p{
    color: rgba(255,255,255,0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0 0 70px;
}
.section-02-cointainer button{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background: transparent;
    margin: 50px 0 0 70px;
}
.img-div img{
    margin: 68px 70px 67px 50px;
    width: 319.83px;
    height: 464.662px;
}
.title-container{
    width: 700px;
}

/* section-03 */
.section-03-cointainer{
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin: 100px auto;
    text-align: center;
}
.section-03-text{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    
}
.section-03-text-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}
.section-03-cointainer-btn{
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 16px 32px;
    margin-top: 50px;
    border: none;
}
.section-03-text h4{
    text-align: center;
    line-height: 56px;
}
.section-03-cointainer> .section-03-text{
    padding-top: 100px;
}

/* section-04 */
.section-04-cointainer{
    display: flex;
    width: 1320px;
    height: 400px;
}
.div-01{
    width: 393px;
}
.div-01 h5{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 
.div-01 h1{
    color: #070211;
    text-align: left;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 10px;
}
.div-01 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 22px;
}
.div-02{
    border: 15px solid #F00;
    padding: 49px;
    border-radius:300px;
}
.div-02 img{
    width: 364px;
    height: 364px;
}
.div-03{
    width: 276px;
}
.div-03 h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.div-03 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}
.div-03-img{
    width: 140px;
    height: 140px;
    position: absolute;
}

/* section-05 */
.section-05-cointainer{
    width: 1320px;
    margin: auto;
    margin-top: 200px;
}
.section-05-cointainer-div-01-text h4{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section-05-cointainer-div-01-text h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0;
}
.section-05-cointainer-div-01-h1{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.section-05-cointainer-div-01-child{
    text-align: center;
}
.section-05-cointainer-div-01-text p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 28px;
}
.section-05-images{
    width: 1320px;
    margin: 100px auto 0;
    display: block;
    position: relative
}
.section-05-images>.img-01{
    position: absolute;
    left: 730px;
    top: 75px;
}
.section-05-images>.img-02{
    float: right;
}
.section-05-images-div-02{
    position: relative;
}
.section-05-images-div-02 .img-03{
    display: block;
    margin: 0 auto;
}
.section-05-images-div-02 .img-04{
    position: absolute;
    z-index: 1;
    width: 500px;
    top: 200px;
    left: 150px;
}

/* section-06 */
.section-06-cointainer{
    width: 1320px;
    margin-top:200px ;
}
.section-06-div-01{
    margin-bottom: 0;
}
.section-06-div-01 h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom:0 ;
}
.section-06-div-01 h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 0;
}
.section-06-div-01 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}
.section-06-img{
    margin-top: 20px;
}
.section-06-imges{
    margin: 6px;
}










